@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
	<p>
		Visit my website for contact info:
		<br />
		<h3><a href="http://blog.michaelckennedy.net/contact/">http://blog.michaelckennedy.net/contact/
			</a></h3>
	</p>
</section>